@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ovo&display=swap');
@import "tailwindcss";

@variant dark (&:is(.dark *));

@theme {
  --color-lighthover: #fcf4ff;
  --color-darkhover: #2a004a;
  --color-darktheme: #11001F;

  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;
  
  /* Custom box shadows */
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
}

@layer utilities {
  .grid-cols-auto {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .bg-footer {
    background-image: url('/footer-bg-color.png');
  }
}